.cursus{
    opacity: 0.6;
    font-family: 'Roboto';
    font-size: 22px;
    background-color: #f5f5f5;
    min-height: 400px;

    .text-margin{
      padding-right: 15%;
      padding-left: 15%;
      margin-top: 2.5em;
    }


}
